.body {
  margin-top: 10px;
  margin-left: 3px;
  margin-left: 3px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(221, 225, 229);
}

.j-picture__box {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  align-items: right;
  justify-content: right;
  max-width: fit-content;
  border-radius: 20px;
}

.j-timeline__box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  text-align: left;
}

.link {
  color: rgb(17, 208, 154);
}
